asn1crypto==0.24.0
attrs==17.3.0
Automat==0.6.0
beautifulsoup4==4.6.0
certifi==2023.7.22
cffi==1.11.2
chardet==3.0.4
constantly==15.1.0
cryptography==41.0.3
cssselect==1.0.1
gitdb2==2.0.3
GitPython==3.1.34
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
lxml==4.9.1
mysqlclient==1.3.12
nltk
numpy
parsel==1.2.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
PyDispatcher==2.0.5
pygit2==0.26.2
PyGithub==1.35
PyJWT==2.4.0
pyOpenSSL==17.5.0
pysolr==3.7.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.4
queuelib==1.4.2
regex==2017.12.12
requests==2.31.0
rpy2==2.9.4
Scrapy==2.6.2
selenium==3.8.0
service-identity==17.0.0
six==1.11.0
smmap2==2.0.3
SQLAlchemy>=1.3.0
SQLAlchemy-Utils==0.32.21
Twisted==22.10.0rc1
Unidecode==0.4.21
urllib3==1.26.5
w3lib==1.18.0
watson-developer-cloud==1.0.2
zope.interface==4.4.3
